.header{
    text-align: center;
}

.targetTime{
    text-align: center;
}

.timers{
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentTime{
    width: 40%;
    background-color: chartreuse;
}

.remainingTime{
    width: 40%;
    background-color: cyan;
}

.urlContainer{
    display: flex;
    justify-content: center;
}

.video{
    display: flex;
    justify-content: center;
}